@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body{
    padding: 100px;
    background: linear-gradient(25deg, rgba(169,170,33,1) 0%, rgba(22,124,23,1) 48%, rgba(45,196,253,1) 100%);
}

ul{
    margin-left: 300px;
    padding-top: 4px;

}

li{
    list-style: none;
    display: inline-block;
}

.main{
    width: 800px;
    height: 540px;
    background-color: white;
    margin: 0 auto;
    padding-top: 12px;
    border-radius:  20px;
    border: 3px solid white;
}

.table td{
    padding:  4px 30px;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
}

h1{
    text-align: center;
    font-size: 26px;
    font-family: "Muli", sans-serif;
}

.img{
    background-image: url(img.jpg);
    background-color: white;
    background-size: cover;
    border-radius: 100px;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    border: 1px solid white;
    padding-top: 2px;
}

