<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <form>
            <input v-model="srch" placeholder="Ketikkan kata kunci">
            <ul>
                <li v-for="book in filteredBooks" :key="book.id">
                    <span>{{ book.name }}</span>
                </li>
            </ul>
        </form>
        
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data:{
                srch: '',
                books: [
                    { name: "Kalkulus Dasar" },
                    { name: "Fisika Dasar" },
                    { name: "Aljabar Linier Elementer" },
                    { name: "Aljabar Abstrak" },
                    { name: "Algoritma Pemrogramman" }
                ],
            },
            computed:{
                filteredBooks: function(){
                    return this.books.filter( book => {
                        return book.name.toLowerCase().includes(this.srch) || book.name.toUpperCase().includes(this.srch) || book.name.includes(this.srch)
                    })
                }
            }

        })
    </script>
</body>
</html>